<div class="flex items-center justify-center bg-opacity-50">
  <div class="card w-96 p-6 relative bg-white shadow-lg rounded-lg"
      data-controller="card-hover">
    <div class="flex justify-between items-center -mt-3">
      <h2 class="text-2xl font-bold text-start flex-1"><%= beer_style.name %></h2>
    </div>

    <div class="flex flex-row items-center">
      <p class="text-gray-700 mt-3 text-justify w-3/5 m"><%= beer_style.style_description %></p>
      <%= inline_svg_tag beer_glass(beer_style.glassware), class: "#{srm_color(beer_style.srm)} w-2/5 h-auto max-h-32 scale-110 object-cover max-w-none"%>
    </div>

    <div class="grid grid-cols-3 gap-4 mt-5 text-center">
      <div class="items-start">
        <p class="font-bold">ABV</p>
        <p><%= beer_style.abv %></p>
      </div>
      <div class="relative">
        <div class="items-center"
             data-action="mouseenter->card-hover#ibuHover mouseleave->card-hover#ibuExit">
          <p class="font-bold">IBU</p>
          <p><%= beer_style.ibu %></p>
        </div>
        <div data-card-hover-target="ibuExplainer"
             class="card absolute left-1/2 -translate-x-1/2 bottom-full m-2 w-48 p-3 text-sm text-white bg-gray-200 rounded-lg
                    shadow-lg opacity-0 scale-95 transition duration-300 ease-in-out pointer-events-none"
             data-action="mouseenter->card-hover#keepOpen mouseleave->card-hover#ibuExit">
          <div class="flex flex-col space-y-1">
            <h2 class="text-base font-semibold text-gray-800">International Bitterness Units</h2>
            <p class="text-justify text-xs leading-tight text-gray-800">
              IBU measures the bitterness of a beer, which comes primarily from hops. The scale ranges from
              <strong>0 to 100+</strong>, with lower values indicating mild beers like wheat ales, and
              higher values found in intensely hoppy styles like IPAs. However, a high IBU
              does not always mean a beer tastes very bitter due to malts sweetness balancing out bitterness.
            </p>
          </div>
        </div>
      </div>
      <div class="relative">
        <div class="items-end" data-action="mouseenter->card-hover#srmHover mouseleave->card-hover#srmExit">
          <p class="font-bold">SRM</p>
          <p><%= beer_style.srm %></p>
        </div>
        <div data-card-hover-target="srmExplainer"
          class="card absolute left-1/2 -translate-x-1/2 bottom-full w-48 p-3 m-2 text-sm text-white bg-gray-200 rounded-lg
                  shadow-lg opacity-0 scale-95 transition duration-300 ease-in-out pointer-events-none"
          data-action="mouseenter->card-hover#keepOpen mouseleave->card-hover#srmExit">
          <div class="flex flex-col space-y-1">
            <h2 class="text-base font-semibold text-gray-800">Standard Reference Method</h2>
            <p class="text-justify text-xs leading-tight text-gray-800">
              SRM is a scale used to measure the <strong>color of beer</strong>. The lower the SRM value, the lighter
              the beer, such as pale lagers or wheat beers. The higher the SRM, the darker the beer,
              including porters and stouts. SRM is calculated by analyzing how much light passes through the beer,
              providing an accurate measure of its hue.
            </p>
            <%= image_tag "SRM.png", class: "w-full h-auto" %>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-4 text-center mt-5">
      <div class="flex-col items-center justify-start">
        <p class="font-bold">Origin</p>
        <div class="text-2xl"><%= country_flag(beer_style.origin) %></div>
      </div>
      <div class="flex flex-col items-center justify-start">
        <p class="font-bold">Glassware</p>
        <p><%= beer_style.glassware %></p>
      </div>
      <div class="flex flex-col items-center justify-start">
        <p class="font-bold">Temp</p>
        <p><%= beer_style.temperature %></p>
      </div>
    </div>

    <div class="mt-4 text-center">
      <p class="font-bold">Common Malts Used</p>
      <p><%= beer_style.common_malts %></p>
    </div>

    <div class="mt-5 text-center">
      <p class="font-bold">Notes</p>
      <p><%= beer_style.notes %></p>
    </div>

  </div>
</div>
