<div class="flex flex-row">
  <h1 class="bg-amber-600">BeerStyles</h1>
  <div class="p-10 flex flex-row">
    <%= inline_svg_tag 'icons/barley', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/hops', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/pint1', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/pint2', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/pint3', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/pint4', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/schop', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/sniffer', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/sour', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/wheat', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/pint1', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/pint2', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
    <%= inline_svg_tag 'icons/pint3', class: "w-20 h-20 text-gray-400 hover:text-gray-800 fill-current" %>
  </div>
</div>
